/* ==========================================================================
Footer
========================================================================== */

.jh-footer {
    background-color: #353d47;
    padding: 0.2em 1em;
}

.jh-footer .jh-footer-copyright {
    color: #ccc;
    font-size: 1.5em;
    padding: 5px;
}

.jh-footer .jh-footer-team-link {
    color: #ccc;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
}
