<div class="row">
    <h1 class="col-md-12" jhiTranslate="pools.list.title">PCoIP pools</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-sm">
            <thead>
            <tr class="row">
                <th class="col-md-3"><p jhiTranslate="pools.list.headers.name">Name</p></th>
                <th class="col-md-2"><p jhiTranslate="pools.list.headers.size">Size</p></th>
                <th class="col-md-1"><p jhiTranslate="pools.list.headers.enabled">Enabled</p></th>
                <th class="col-md-5"><p jhiTranslate="pools.list.headers.tools">Tools</p></th>
                <th class="col-md-1"><p jhiTranslate="pools.list.headers.book">Book</p></th>
            </tr>
            </thead>
            <jhi-alert></jhi-alert>
            <jhi-alert-error></jhi-alert-error>
            <tbody>
            <tr class="row">
                <td class="col-md-3"><input type="text" placeholder="{{'pools.list.headers.name' | translate }}"
                                            [(ngModel)]="displayName"></td>
                <td class="col-md-1"><input type="number" style="width: 100%" placeholder="{{'pools.list.headers.min' | translate }}"
                                            min="0" [(ngModel)]="minimum"></td>
                <td class="col-md-1"><input type="number" style="width: 100%" placeholder="{{'pools.list.headers.max' | translate }}"
                                            min="1" [(ngModel)]="maximum"></td>
                <td class="col-md-1"><input type="checkbox"
                                            [(ngModel)]="enabled"></td>
                <td class="col-md-5">
                    <ng-select
                        [items]="tools | async"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        [hideSelected]="true"
                        [searchable]="true"
                        bindLabel="name"
                        placeholder="{{'pools.list.headers.tools' | translate }}"
                        [(ngModel)]="selectedTools">
                    </ng-select></td>
                <td class="col-md-1">
                    <button class="btn btn-primary" (click)="getFilteredPools()" >
                        <fa-icon [icon]="'filter'"></fa-icon>
                        <span jhiTranslate="pools.list.headers.filter">Filter</span>
                    </button>
                </td>
            </tr>
            <tr class="row" *ngFor="let pool of pools">
                <td class="col-md-3">{{pool.displayName}}</td>
                <td class="col-md-2">{{pool.maximumCount}}</td>
                <td class="col-md-1">
                    <fa-icon *ngIf="pool.enabled"  icon="check"></fa-icon>
                </td>
                <td class="col-md-5">
                    <div *ngFor="let tool of pool.tools" class="d-inline">
                        <span>{{tool.name}} ({{tool.version}})</span>
                    </div>
                </td>
                <td class="col-md-1">
                    <button class="btn btn-primary"
                            [routerLink]="['/pool/book/'+pool.poolId]">
                        <fa-icon [icon]="'plus'"></fa-icon><span jhiTranslate="pools.list.headers.book">
                        Book
                    </span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
