<div class="row">
    <h1 class="col-md-12" jhiTranslate="pools.booking.title">Book a pool</h1>
</div>
<div>
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group" [hidden]="!reservationPoolId">
        <label for="id" jhiTranslate="pools.booking.fields.id">ID</label>
        <input type="text" class="form-control" name="id"
               [ngModel]="reservationPoolId" readonly>
    </div>
    <div>
        <label for="count" jhiTranslate="pools.booking.fields.count">Count</label>
        <input type="number" class="form-control" name="count"
               [(ngModel)]="count" min="1">
        <small *ngIf="count<1" jhiTranslate="pools.booking.minvalue" class="form-text text-danger">
            Value should be greater than 0
        </small>
    </div>
    <br>
    <div class="form-group">
        <label jhiTranslate="pools.booking.fields.tools">Additional tools</label>
        <ng-select
            [items]="tools | async"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
            [searchable]="true"
            bindLabel="name"
            placeholder="Select tools"
            [(ngModel)]="selectedTools">
        </ng-select>
    </div>
    <br>
    <ngb-tabset type="pills" justify="fill" activeId="once" (tabChange)="setActiveTab($event)">
        <ngb-tab title="Once" id="once" jhiTranslate="pools.booking.fields.once.tabName">
            <ng-template ngbTabContent>
                <div class="row tab-pane-inside">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12" jhiTranslate="pools.booking.fields.once.from">From</div>
                            <div class="col-md-6 center">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd"
                                                   name="dp" [(ngModel)]="fromPeriod" [minDate]="today"
                                                   ngbDatepicker #from="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar"
                                                        (click)="from.toggle()"
                                                        type="button"></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6 center">
                                <ngb-timepicker [(ngModel)]="fromTime"></ngb-timepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12" jhiTranslate="pools.booking.fields.once.to">To</div>
                            <div class="col-md-6 center">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd"
                                                   name="dp" [(ngModel)]="toPeriod" [minDate]="today"
                                                   ngbDatepicker #to="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" (click)="to.toggle()"
                                                        type="button"></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6 center">
                                <ngb-timepicker [(ngModel)]="toTime"></ngb-timepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Weekly" id="weekly" jhiTranslate="pools.booking.fields.once.tabName">
            <ng-template ngbTabContent>
                <div class="row tab-pane-inside">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <span jhiTranslate="pools.booking.fields.weekly.startDate">Starting date</span>
                                <form class="form-inline center">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd"
                                                   name="dp" [(ngModel)]="fromPeriod" [minDate]="today"
                                                   ngbDatepicker #from="ngbDatepicker"
                                                   (ngModelChange)="handelDateChange()">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar"
                                                        (click)="from.toggle()"
                                                        type="button"></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <span jhiTranslate="pools.booking.fields.weekly.endDate">End date</span>
                                <form class="form-inline center">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                                   [(ngModel)]="toPeriod" [minDate]="today"
                                                   ngbDatepicker #to="ngbDatepicker"
                                                   (ngModelChange)="handelDateChange()">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar"
                                                        (click)="to.toggle()"
                                                        type="button"></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label for="weeks" jhiTranslate="pools.booking.fields.weekly.weeks">Weeks</label>
                                    <input type="number" class="form-control" name="weeks"
                                           [(ngModel)]="weeks" min="1" (ngModelChange)="handelWeekChange($event)">
                                    <small *ngIf="weeks<0" jhiTranslate="pools.booking.minvalue"
                                           class="form-text text-danger">
                                        Value should be greater than 0
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12" jhiTranslate="pools.booking.fields.weekly.timeRange"><b>Time range</b></div>
                            <div class="col-md-6 center">
                                <ngb-timepicker [(ngModel)]="fromTime"></ngb-timepicker>
                            </div>
                            <div class="col-md-6 center">
                                <ngb-timepicker [(ngModel)]="toTime"></ngb-timepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label jhiTranslate="pools.booking.fields.weekly.excludedDates">Excluded dates</label>
                    <ng-select
                        [items]="possibleDates"
                        [multiple]="true"
                        [closeOnSelect]="false"
                        [hideSelected]="true"
                        [searchable]="true"
                        bindLabel="name"
                        placeholder="Dates to exclude"
                        [(ngModel)]="excludedDates">
                    </ng-select>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <br>
    <div class="center">
        <button class="btn btn-primary" (click)="book()">
            <span jhiTranslate="pools.list.headers.book">
                Book
            </span>
        </button>
    </div>
</div>
