<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.request.title}">JHipster tools request</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.request.introduction(${user.login})}">
    User requested additional tools.
</p>
<p th:text="#{email.request.text1(${poolId})}">
    Pool ID:
</p>
<p th:text="#{email.request.text2(${tools})}">
    Additional tools user requested:
</p>
<p>
    <span th:text="#{email.activation.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">Snorlax Team.</em>
</p>
</body>
</html>
