<div class="row">
    <div class="col-md-12 upload">
        <h1 class="col-md-12" jhiTranslate="upload.title">Upload file with pools</h1>
        <jhi-alert></jhi-alert>
        <jhi-alert-error></jhi-alert-error>
        <div class="file-drop">
        <file-drop (onFileDrop)="dropped($event)"
                   contentClassName=""
                   dropZoneClassName=""
                   accept="csv"
                   [showBrowseBtn]="true">
            <div class="drop-text" jhiTranslate="upload.drop">Drop file here or </div>
        </file-drop>
        </div>
        <div class="upload-table">
            <table class="table">
                <thead>
                <tr>
                    <th jhiTranslate="upload.name">Name</th>
                </tr>
                </thead>
                <tbody class="upload-name-style">
                <tr *ngFor="let item of files">
                    <td><strong>{{ item.relativePath }}</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div *ngIf="error" class="error-message">
                <span>{{ error  || 'Sorry, unknown error occurred.'}}</span>
            </div>
            <div *ngIf="uploadResponse.status === 'error'">
                {{ uploadResponse.message }}
            </div>
            <div *ngIf="uploadResponse.status === 'progress'">
                <div role="progressbar" [style.width.%]="uploadResponse.message"
                     aria-valuenow="25" aria-valuemin="0"
                     aria-valuemax="100">
                    {{uploadResponse.message}}%
                </div>
            </div>
            <button class="btn btn-primary" (click)="onSubmit()"
                    type="submit" jhiTranslate="upload.upload">
                Upload
            </button>
        </div>
    </div>
</div>
