/* ==========================================================================
Upload page styles
========================================================================== */
.upload {
    text-align: center;
}

.file-drop {
    margin: auto;
    border: 2px dotted blue;
    border-radius: 30px;
    padding: 1rem;
}

.drop-text {
    color: #007bff;
    padding-bottom: 1rem;
}

.error-message {
    color: red;
    padding: 0.5rem;
}

.table_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.table_side_by_side {
    width: 50%;
}

.col-md-3 {
    max-width: 13%;
}

.col-md-2 {
    max-width: 10%;
}

.col-md-1 {
    max-width: 12%;
}

.col-md-5 {
    max-width: 60%;
}
